{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'authsystemapp/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="login">
  <h1>login</h1>
    <form method="post" action="{% url 'register' %}">
        {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
      <input type="text" name="username" placeholder="Username" required="required" />
        <input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>
{% comment %}    <form>{{form}}
        <button>Submit</button>{% endcomment %}
    </form>
</div>
</body>
</html>